<%= form_for(@guest_log) do |f| %>
  <%= render "shared/errors", error_item: @guest_log %>
  <p>
    <%= f.label(:your_name) %><br/>
    <%= f.text_field(:name, autofocus: true) %>
  </p>
  <p>
    <%= f.label(:about_your_stay) %><br/>
    <%= f.text_area(:log,cols: 40,rows: 7) %>
  </p>
  <p>
    <%= f.label(:check_in_date) %><br/>
    <%= f.date_select(:in_at) %>
  </p>
  <p>
    <%= f.label(:check_out_date) %><br/>
    <%= f.date_select(:out_at) %>
  </p>
  <p>
    <%= f.label(:rate_your_stay) %><br/>
    <%= f.select(:rating,1..10) %>
  </p>

  <div style="float: left; width: auto; padding-right: 5px">
    <%= f.submit(class: "btn btn-primary") %>
  </div>
<% end %>