<%= form_for(@guest_log) do |f| %>
  <%= render "shared/errors", error_item: @guest_log %>
  <p>
    <%= f.label(:name, "Your Name") %><br/>
  <%= f.text_field(:name, { value: current_user.name }) %>
  </p>
  <p>
    <%= f.label(:log, "About Your Stay") %><br/>
    <%= f.text_area(:log,cols: 40,rows: 7, autofocus: true) %>
  </p>
  <p>
    <%= f.label(:in_at, "Check In Date") %><br/>
    <%= f.date_select(:in_at) %>
  </p>
  <p>
    <%= f.label(:out_at, "Check Out Date") %><br/>
    <%= f.date_select(:out_at) %>
  </p>
  <p>
    <%= f.label(:rating, "Rate Your Stay") %><br/>
    <%= f.select(:rating,1..10) %>
  </p>

  <div style="float: left; width: auto; padding-right: 5px">
    <%= f.submit(class: "btn btn-primary") %>
  </div>
<% end %>