<h2><%= @guest_log.name %>'s Stay</h2>

<article>
    <header>
      <h4>Check-in: <%= @guest_log.in_at.to_s(:long) %><br/>
      <small>Duration: <%= get_duration(@guest_log) %><br/>
          Rating: <%= @guest_log.rating %></small</h4>
		</header>
	  <p>
	    &ldquo;<%= @guest_log.log %>&rdquo;
	  </p>
	  <i> - 
	    <% if @guest_log.user %>
	      <%= @guest_log.user.name %>
	    <% else %> 
	      <%= @guest_log.name %>
	    <% end %>
	    <br>&nbsp&nbsp on <%= @guest_log.created_at %>
	  </i>
	</article>

<br/>
<% if current_user_admin? || current_user == @guest_log.user %>
  <p>
  <%= button_to "Edit", edit_guest_log_path, :method => "get", class: "btn btn-primary" %>
  <%= button_to "Delete", guest_log_path, :method => "delete", data: {confirm: 'Are you sure?'},class: "btn btn-danger" %>
  </p>
<% end %>

