<%= form_for(@user) do |f| %>
  <%= render "shared/errors", error_item: @user %>
  <p>
    <%= f.text_field(:name, { class: "form-control", placeholder: "Name", autofocus: true }) %>
  </p>
  <p>
    <%= f.email_field(:email,{ class: "form-control", placeholder: "Email"}) %>
  </p>
  <% if @user.new_record? %>
    <p>
      <%= f.password_field(:password,{ class: "form-control", placeholder: "Password"}) %>
    </p>
    <p>
      <%= f.password_field(:password_confirmation,{ class: "form-control", placeholder: "Password Confirmation"}) %>
    </p>
  <% end %>
  <% if current_user_admin? %>
    <p>
      <%= f.label(:relation, "Relation?") %>
      <%= f.select(:relation,User::RELATIONS_ADMIN, prompt: "Pick one" ) %>
    </p>
    <% if current_user != @user %>
      <p>
        <%= f.label(:pwchange, "Require Password Change?") %>
        <%= f.check_box(:pwchange) %>
      </p>
    <% end %>
    <p>
      <%= f.label(:admin, "Admin Privileges?") %>
      <%= f.check_box(:admin) %>
    </p>
  <% else %>
    <p>
      <%= f.label(:relation, "Relation?") %>
      <%= f.select(:relation,User::RELATIONS, prompt: "Pick one" ) %>
    </p>
  <% end %>
  
  <div style="float: left; width: auto; padding-right: 5px">
    <%= f.submit(class: "btn btn-primary") %>
  </div>
<% end %>