<h2>Accounts

  <%= button_to "View All", users_path, :method => "get", class: "btn btn-xs btn-primary" %>
  <%= button_to "View Disabled", users_limited_path('Disabled'), :method => "get", class: "btn btn-xs btn-primary" %>
  <%= button_to "View Admins", users_limited_path('Admins'), :method => "get", class: "btn btn-xs btn-primary" %>

</h2>

<br/>
<table class="table table-striped table-condensed table-hover table-responsive">
  <tr>
    <th>Name</th>
    <th>Email</th> 
    <th>Category</th>
      <th>Provider</th> 
    <th>Privilege</th>
    <th>Actions</th>
  </tr>
  <% @users.each do |user| %>
      <tr>
        <td>
          <% if !user.noble? %>
            <%= link_to(user.name,user) %>
          <% else %>
            <%= user.name %>
          <% end %>
        </td>
        <td>
          <%= mail_to user.email %>
        </td>
        <td>
          <%= user.relation_id || "Unknown" %>
        </td>
        <td>
          <%= user.provider_s.capitalize %>
        </td>
        <td>
          <%= user.admin_s %>
        </td>
        <td>
          <% if !user.noble? %> 
            <%= button_to "Edit", edita_user_path(user), :method => "get", class: "btn btn-xs btn-success" %>
            <% if user.local? %>
              <%= button_to "Password", edit_user_password_path(user), :method => "get", class: "btn btn-xs btn-warning" %>
            <% end %>
            <% if !user.admin? %>
              <%= button_to "Delete", user_path(user), :method => "delete", data: {confirm: 'Are you sure?'},class: "btn btn-xs btn-danger" %>
            <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
  
<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
<p>
  <%= button_to "Add User Account", new_user_path(), :method => "get", class: "btn btn-primary" %>
</p>