<h2>Accounts

  <%= button_to "View All", users_path, :method => "get", class: "btn btn-xs btn-primary" %>
  <%= button_to "View Disabled", users_limited_path('Disabled'), :method => "get", class: "btn btn-xs btn-primary" %>
  <%= button_to "View Admins", users_limited_path('Admins'), :method => "get", class: "btn btn-xs btn-primary" %>
  
</h2>
  
  <%= form_tag users_path, :method => 'get', :id => "users_search", :remote => true do %>
    <div style="width: 250px;">
      <%= text_field_tag :search, params[:search],{ class: "form-control", placeholder: "Name Filter"} %>
    </div>
  <% end %>
  
  <div id="users">
    <%= render 'users' %>
  </div>

<p>
  <%= button_to "Add User Account", new_user_path(), :method => "get", class: "btn btn-primary" %>
</p>