<h2><%= @user.name %>'s Account</h2>

<p>
Name: <%= @user.name %><br/>
Email: <%= mail_to @user.email %><br/>
Privilege: <%= @user.admin_s %><br/>
Relation:  <%= @user.relation || "Unknown" %> <br/>
Privilege: <%= @user.admin_s %>

</p>

<br/>
<p>
<%= button_to "Edit Account", edit_user_path, :method => "get", class: "btn btn-primary" %>
<%= button_to "Delete Account", user_path, :method => "delete", data: {confirm: 'Are you sure?'},class: "btn btn-danger" %>
</p>

