<%= form_for(@checklist) do |f| %>
  <%= render "shared/errors", error_item: @checklist %>
  <p>
    <%= f.text_field(:name, { class: "form-control", placeholder: "List Name", autofocus: true }) %>
  </p>
  <p>
    <%= f.text_area(:description,{ class: "form-control", placeholder: "List Description" }) %>
  </p>
  <p>
    <%= f.label(:checked, "Enable Checkboxes in List?") %><br/>
    <%= f.check_box(:checked) %>
  </p>  
  <div style="float: left; width: auto; padding-right: 5px">
    <% if @checklist.new_record? %>
      <%= f.submit('Create List',class: "btn btn-primary") %>
    <% else %>
      <%= f.submit('Update List',class: "btn btn-primary") %>
    <% end %>
  </div>
<% end %>