<h2>Edit <%= @checklist.name %> List Info</h2>

<%= render 'form' %>
<%= button_to "Done", checklist_path, :method => "get", class: "btn btn-warning" %>

<!-- Checklist Items -->
<h2>Edit <%= @checklist.name %> List Items</h2>
<table class="table table-striped table-condensed table-hover table-responsive" style="width: 80%">
<% @items.each do |item| %>
    <tr>
      <td style="width: 70px">
        <% if item != @items.first %>
          <%= button_to "&#8593;".html_safe, checklist_moveup_checklist_item_path(@checklist,item), :method => "get", class: "btn btn-xs btn-primary", style: "padding-left: 10px; padding-right: 10px" %>
        <% end %>
        <% if item != @items.last %>
          <%= button_to "&#8595".html_safe, checklist_movedown_checklist_item_path(@checklist,item), :method => "get",class: "btn btn-xs btn-info", style: "padding-left: 10px; padding-right: 10px" %>
        <% end %>
      </td>
      <td>
        <% item_value = "<strong>#{item.name}</strong>" %>
        <% if !item.description.blank? %>
          <% item_value += ": #{item.description}" %>   
        <% end %>
        <%= item_value.html_safe %>
      </td>
      <!--
          <td>
            <%= item.seq %>
           </td>
      -->
      <td>
        <%= button_to "Edit", edit_checklist_checklist_item_path(@checklist,item), :method => "get", class: "btn btn-xs btn-success" %>
        <%= button_to "Delete", checklist_checklist_item_path(@checklist,item), :method => "delete", data: {confirm: 'Are you sure?'},class: "btn btn-xs btn-danger" %>
      </td>
    </tr>
<% end %>
</table>

<p>
  <%= button_to "Add Item", new_checklist_checklist_item_path(@checklist), :method => "get", class: "btn btn-primary" %>
  <%= button_to "Done", checklist_path, :method => "get", class: "btn btn-warning" %>
</p>