<%= form_for([@checklist, @checklist_item]) do |f| %>
  <%= render "shared/errors", error_item: @checklist_item %>
  <p>
    <%= f.label(:name, "Checklist Item Name") %><br/>
    <%= f.text_field(:name, autofocus: true) %>
  </p>
  <p>
    <%= f.label(:description, "Checklist Item Details") %><br/>
    <%= f.text_area(:description,cols: 40,rows: 3) %>
  </p>
  
  <br/>
  <div style="float: left; width: auto; padding-right: 5px">
    <%= f.submit(class: "btn btn-primary") %>
  </div>
<% end %>