<%= form_for([@checklist, @checklist_item]) do |f| %>
  <%= render "shared/errors", error_item: @checklist_item %>
  <p>
    <%= f.text_field(:name, { class: "form-control", placeholder: "Item Name", autofocus: true }) %>
  </p>
  <p>
    <%= f.text_area(:description, { class: "form-control", placeholder: "Item Description" }) %>
  </p>
  
  <br/>
  <div style="float: left; width: auto; padding-right: 5px">
    <%= f.submit(class: "btn btn-primary") %>
  </div>
<% end %>