<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= image_tag "NL_Logo_small.jpg", class: "img-thumbnail", style: "width: 38px; height: 42px; float: left; margin-top:5px;" %>
      <a class="navbar-brand" href="<%= root_path %>">&nbsp; Noble's Landing</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!---------------------
            ABOUT DROPDOWN
        ----------------------->
        <li class="dropdown">
          <a href="<%= guest_logs_path %>" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'The House',history_path %></li>
            <li><%= link_to 'Bolivar',bolivar_path %></li>
            <li><%= link_to 'Calendar',calendar_path %></li>
            <li><%= link_to 'Site Info',about_path %></li>
          </ul>
        </li>
            
        <!---------------------
            GUEST LOGS DROPDOWN
        ----------------------->
        <li class="dropdown">
          <a href="<%= guest_logs_path %>" class="dropdown-toggle" data-toggle="dropdown">Guest Logs<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<%= guest_logs_path %>">All Guest Logs</a></li>
            <li><a href="<%= new_guest_log_path %>">New Guest Log</a></li>
          </ul>
        </li>
        <!---------------------
            CHECKLISTS DROPDOWN
        ----------------------->
        <li class="dropdown">
          <a href="<%= guest_logs_path %>" class="dropdown-toggle" data-toggle="dropdown">Rules & Lists<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<%= checklists_path %>">All Lists</a></li>
            <% if current_user_admin? %>
              <li><a href="<%= new_checklist_path %>">Add List</a></li>
            <% end %>
            <% if current_checklists %>
              <li class="divider"></li>
              <% current_checklists.each do |cl| %>
                <li><%= link_to cl.name, cl %></li>
              <% end %>
            <% end %>
          </ul>
        </li>
        <!---------------------
            ADMIN DROPDOWN
        ----------------------->
        <% if current_user_admin? %>
          <li class="dropdown">
            <a href="<%= users_path %>" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="<%= users_path %>">Manage User Accounts</a></li>
              <li><a href="<%= relations_path %>">Manage User Categories</a></li>
              <li><a href="<%=  manage_checklists_path %>">Manage Lists</a></li>

            </ul>
          </li>
        <% end %>
        <!---------------------
            USER DROPDOWN
        ----------------------->
        <% if current_user %>
          <li class="dropdown">
            <a href="<%= current_user %>" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", user_path(current_user) %></li>
              <li><%= link_to "Sign Out", session_path, :method => "delete" %></li>
            </ul>
          </li>
        <% else %>
          <li class="<%= 'active' if params[:action] == 'about' %>"><%= link_to 'Sign In',login_path %></li>
        <%end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
<br/>
<br/>